* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, Inter fallback, Open Sans, -apple-system, 
    system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}

/* Header */
nav {
    height: 70px;
    width: 100%;
    background: var(--pr-color);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    opacity: 0.9;
}

#logo {
    filter: invert(100%) brightness(0%);
}

nav.sticky {
    position: fixed;
    background: #F96500;
    transition: all ease-in-out .3s;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.item.menus.active a {
    position: relative;
}

.item.menus.active a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: white;
    bottom: -6px;
    left: 0;
    border-radius: 6px;
}

.item.menus a:hover {
    color: black;
    border-radius: 6px;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;
}

.menu li a {
    display: block;
}

.logo a {
    font-size: 25px;
    font-weight: 700;
}

.logo a:hover {
    color: white;
}

/* Mobile Menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}

.item.menus.active {
    display: block;
    background: var(--pr-color);
}

.toggle {
    cursor: pointer;
}

.bars {
    background: white;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}

.bars::before, .bars::after {
    background: white;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}

.bars::before {
    top: 5px;
}

.bars::after {
    top: -5px;
}

/* Tablet Menu */
@media all and (min-width:468px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        order: 2;
    }

    .button.secondary {
        border: 0;
    }

    .button a {
        text-decoration: none;
        padding: 7px 15px;
        background: white;
        color: var(--pr-color);
        border-radius: 8px;
    }

    .button.secondary a {
        background: var(--scd-color);
        color: white;
    }

    .button a:hover {
        transition: all .25s;
        color: white;
        background: var(--scd-color);
    }

    .button.secondary a:hover {
        background: white;
        color: var(--scd-color);
    }
}

/* Desktop Menu */
@media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
    }

    .button {
        order: 2;
    }

    .menu li {
        padding: 15px 10px;
    }

    .menu li.button {
        padding-right: 0;
    }
}

/* Banner */
.banner {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.banner-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.banner-image::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    border-bottom: 1px solid transparent;
}

.banner-text {
    position: relative;
    text-align: center;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

/* Menu */
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.sort-show-container {
    display: flex;
    gap: 16px;
}

.sort label,
.show-per-page label {
    margin-right: 0.5rem;
}

.show-per-page,
.sort {
    margin-left: auto;
}

select {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 8px 12px;
}

/* Card */
.post-list {
    display: grid;
    gap: 1rem;
}

.list-posts {
    padding: 32px;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-img-top {
    object-fit: cover;
    height: 100px;
}

.col-lg-3 {
    margin-bottom: 20px !important;
}

/* Pagination */
.pagination-container { 
    text-align: center; 
} 
  
.pagination { 
    display: inline-block; 
    padding: 16px; 
} 
  
.pagination a { 
    color: black; 
    border-radius: 8px; 
    padding: 8px 12px; 
    margin: 5px; 
    text-decoration: none; 
    font-size: 16px; 
} 
  
.pagination a.active { 
    background-color: #F96500; 
    border: 1px solid #F96500; 
    color: white;
} 
  
.pagination a:hover:not(.active) { 
    background-color: #F96500; 
    border: 1px solid #F96500; 
    color: white;
} 
  
.pagination .arrow { 
    font-size: 20px; 
    font-weight: bold; 
    margin: 0 10px; 
    cursor: pointer; 
    color: #fff; 
} 
  
.content { 
    padding: 8px; 
    background-color: #fff; 
    border-radius: 8px; 
    margin-top: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}